@import "../../styles/variables";
@import "../../styles/screensize";

.wrapper {
  background-color: #022044;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  margin: 10px 0 auto;
}

.container {
  // background-color: #5a86bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  justify-content: center;
  color: #fff;
  line-height: 3rem;
  bottom: 0;
  width: 100%;

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    p {
      font-size: medium;
    }

    ul {
      display: flex;
      @include mobile {
        flex-direction: column;
      }
      .contact_list {
        padding: 15px;
      }

      .Linka {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
        padding: 0 10px;
        &:hover {
          color: #b3cceb;
        }
      }
    }
  }
}

.copyright {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .wrapper {
    padding: 25px 25px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding: 15px 40px;
  }

  .img {
    display: none;
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding: 20px 20px;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding: 10px 10px;
  }

  .img {
    display: none;
  }
}
