@import "colors";

.booksListPage {
  .gridContainer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-self: center;
    align-content: center;

  }

  .img {
    // height: 100px;
    width: 120px;
    object-fit: fit;
  }
  hr{
    display: none;
  }
  .card {
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  .texty{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 10px 20px;
  }

  .bookTitle {
    color: $primaryColor;
    font-size: 2rem;
  }
  .bookAuthor {
    font-size: 1.7rem;
  }
  .bookPostedDate {
    margin-top: 8px;
    font-size: 1.2rem;
    color: #414143;
  }

  .categories {
    color: #fff;
    background: $primaryColor;
    padding: 10px 15px;
    margin: 10px 4px;
    border-radius: 10px;

    @include mobileSS {
      //  align-self: center;
      margin: 0;
      border-radius: 5px;
      text-align: center;
    }
  }
  .categoryContainer {
    display: flex;
    @include mobileSS {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
    }
  }
}
