@import 'colors';
@import 'variables';

.sectionTitle {

  font-weight: f-weight(bold);
  font-size: f-size(large);
//   font-size: ${(props) => props.main ? '65px' : '56px'};
//   line-height: ${(props) => props.main ? '72px' : '56px'};
  width: max-content;
  max-width: 100%;
  color: $bigFontColor;
  margin-bottom: 16px;
//   padding: ${(props) => props.main ? '58px 0 16px' : '0'};
}
//   @media ${props => props.theme.breakpoints.md}{
//     font-size: ${(props) => props.main ? '56px' : '48px'};
//     line-height: ${(props) => props.main ? '56px' : '48px'};
//     margin-bottom: 12px;
//     padding: ${(props) => props.main ? '40px 0 12px' : '0'};
//   }

//   @media ${props => props.theme.breakpoints.sm}{
//     font-size: 32px;
//     line-height: 40px;
//     font-size: ${(props) => props.main ? '28px' : '32px'};
//     line-height: ${(props) => props.main ? '32px' : '40px'};
//     margin-bottom: 8px;
//     padding: ${(props) => props.main ? '16px 0 8px' : '0'};
//     max-width: 100%;
//   }
