@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap');

:root {
    --background1: #eff4f9;
    --primaryColor: #022044;
    --fontColor: #292d32;
    --fontFamily: 'Roboto', sans-serif;
    /* --fontFamily: "Space Grotesk, sans-serif", */
} 
 
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    
  }
  body {
    padding: 0;
    margin: 0;
    font-family: var(--fontFamily);
    font-size: 1.6rem;
    background: #eff4f9;
    color: var(--fontColor);
    cursor: default;

  }
 

  h1,h2,h3,h4,h5,h6,button {
    font-family: var(--fontFamily);
     padding-bottom: 1.2rem;
  }

  a {
    text-decoration: none;
  }
  li{
    list-style: none;
  }


@media screen and (max-width: 500px) {
    
    /* #__next{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      } */
}
